
p{
  font-size: 40px;
  
}
h2{
  color: rgb(238, 122, 186);
}
.tableHead {
  overflow-y: auto;
  height: 100px;
}
.tableHead thead th {
  position: sticky;
  top: 0;
}
table {
  border-collapse: collapse;        
  width: 100%;
}
th,
td {
  padding: 8px 15px;
  border: 2px solid #4f90ae;
}
th {
  background: #93c4dd;
}