
h2{
    color:rgb(193, 65, 174)
}
p{
  font-size: 40px;
  
}
table, th, td {
    border: 1px solid rgb(89, 141, 186);
    border-collapse: collapse;
  }
  th, td {
    background-color: #577ca6;
  }